
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tap Titans Calculator</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="www/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="www/css/main.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header">
        <h3 class="text-muted">Tap Titans Calculator</h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <img src="www/img/main-img.jpg" alt="tap-titans-main" class="img-responsive"/>
        </div>
        <div class="col-sm-12">
            <div class="earth-bg main-box">
                {include "_form.latte"}
            </div>
        </div>
    </div>

    <footer class="footer">
        <p class="text-muted text-right">&copy; Matej Sajgal {date('Y')}</p>
    </footer>

</div> <!-- /container -->

<script src="www/js/jquery.min.js"></script>
<script src="www/js/bootstrap.min.js"></script>
<script src="www/js/netteForms.js"></script>

</body>
</html>
