
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="If you need more coins in Tap Titans, you can calculate waiting time here.">
    <meta name="author" content="Matej Sajgal">
    <meta name="contact" content="matej@sajgal.com">
    <link rel="icon" href="www/img/favicon.ico">

    <title>Tap Titans Calculator</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="www/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="www/css/main.css" rel="stylesheet">
</head>

<body>

{include "_googleAnalytics.latte"}

<div class="container">

    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a data-toggle="modal" data-target="#aboutModal">What is this for?</a></li>
            </ul>
        </nav>
        <h3 class="text-muted"><a href="http://tap-titans.sajgal.com">Tap Titans Calculator <small>v. 1.2</small></a></h3>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <img src="www/img/main-img.jpg" alt="tap-titans-main" class="img-responsive"/>
        </div>
        <div class="col-sm-12">
            <div class="earth-bg main-box">

                <div class="row" n:ifset="$calculations">
                    <div class="alert alert-info" role="alert">
                        Your Coins will be ready in <strong>{$calculations['timeNeeded']}</strong>. <br/>
                        <strong>Info:</strong> You kill Monster in <strong>{$calculations['monsterKillTime']}</strong> s.
                    </div>
                </div>


                {include "_form.latte"}
            </div>
        </div>
    </div>

    <footer class="footer">
        <p class="text-muted text-right">
            <a href="http://tap-titans.sajgal.com/?moneyNeeded=48.70&moneyNeededCurrency=dd&heroDps=1.31&heroDpsCurrency=dd&monsterHealth=65.48&monsterHealthCurrency=dd&coinsNumber=4&coinValue=3.41&coinValueCurrency=cc&_submit=Calculate" target="_blank">Calculation Example</a> &middot;
            &copy; Matej Sajgal {date('Y')} &middot;
            <a href="https://github.com/roarbb/tap-titans-calculator" target="_blank">Source Codes on GitHub</a>
        </p>
    </footer>

</div> <!-- /container -->

{include "modals/_aboutModal.latte"}

<script src="www/js/jquery.min.js"></script>
<script src="www/js/bootstrap.min.js"></script>
<script src="www/js/netteForms.js"></script>

</body>
</html>
